body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set body height to 100vh (viewport height) */
  background-color: #f4f4f4;
}

.container1 {
  background-color: #ffffff;
  display: grid;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.container2 {
  background-color: #ffffff;
  display: grid;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px;
  background-color: #4890dd;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #55a3f8;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

p {
  margin-top: 10px;
}
